<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}STGC - Tarjamento{% endblock %}</title>

  <!-- Fonts e Estilos -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='Css/style.css') }}">
</head>

<body>

  <!-- Navbar -->
<head>
    <meta charset="UTF-4">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Tarjamento para Documentos - PMSP | SEGES | COTIC</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="../static/Css/style.css">
</head>


   <header>
       <nav class="navbar navbar-expand-lg bg-light ">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center gap-4" href="/">
            <img src="{{ url_for('static', filename='img/brasao-sp.png') }}" alt="Logo da Prefeitura" style="width: 150px;">
            <span class="fw-bold fs-5">STGC - Sistema de Tarjamento da Gestão/COTIC</span>
        </a>
    </div>
</nav>

        <div class="sub-navbar">
            <div class="container">
                <a href="https://prefeitura.sp.gov.br/">Prefeitura de São Paulo</a>

                <span class="mx-2">&rsaquo;</span>

                <a href="https://prefeitura.sp.gov.br/web/gestao/">Secretaria Municipal da Gestão</a>

                <span class="mx-2">&rsaquo;</span>
                <a
                    href="https://prefeitura.sp.gov.br/web/gestao/w/coordenadoria-de-tecnologia-da-informa%C3%A7%C3%A3o-e-comunica%C3%A7%C3%A3o-cotic">Coordenadoria
                    de Tecnologia da Informação e Comunicação</a>
            </div>
        </div>
    </header>


  <!-- Conteúdo da Página -->
  <main class="container my-5">
     {% block content %}{% endblock %}

       
    </main>
  <!-- Footer -->
   <footer class="shadow-lg pt-5 fs-6 footer-font   ">
        <div class="container  ">
            <div class="row">
                <div class="col-lg-2  col-3 mb-2">
                    <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/gestao/">

                        <img src="{{ url_for('static', filename='img/logo_PrefSP_sem fundo_horizontal_fundo claro.png') }}"
                            class="img-fluid"
                            style="max-width: 300px; width: 180%; height: 90px; object-fit: cover; object-position: center;">

                    </a>
                </div>
                <div class="col-lg-1 col-0 col-md-0  mx-auto"></div>
                <div class="col-lg-6 col-12 footer-font">
                    <ul class="list-unstyled text-justify">
                        <li class="fw-bold text-start">STGC - Sistema de Tarjamento da Gestão/COTIC</li>
                        <li class="mb-2 text-start">Você pode contatar o STGC<a href="" target="_blank"></a> através do
                            e-mail de suporte da COTIC: <a
                                href="mailto: ssi@prefeitura.sp.gov.br">ssi@prefeitura.sp.gov.br</a></li>
                    </ul>
                </div>
                <div class="col-lg-0 col-1"></div>
                <div class="col-lg-2 col-12">
                    <ul class="  list-group  list-group-horizontal ">
                        <li class="d-flex align-items-center mb-2">
                            <a href="https://www.facebook.com/gestaoprefsp/" target="_blank">
                                <img src="{{ url_for('static', filename='img/facebook.png') }}"
                                    href="https://open.spotify.com/show/7k40YvPejELy045znwj0Er?si=a718ff29e31a4cf8&utm_medium=share&utm_source=linktree"
                                    target="_blank" style="max-width: 40px;">
                            </a>
                        </li>
                        <li class="d-flex align-items-center mb-2">
                            <a href="https://open.spotify.com/show/7k40YvPejELy045znwj0Er?si=a718ff29e31a4cf8&utm_medium=share&utm_source=linktree"
                                target="_blank">
                                <img src="{{ url_for('static', filename='img/spotify-logo.png') }}"
                                    href="https://open.spotify.com/show/7k40YvPejELy045znwj0Er?si=a718ff29e31a4cf8&utm_medium=share&utm_source=linktree"
                                    target="_blank" style="max-width: 40px;">

                            </a>
                        <li class="d-flex align-items-center mb-2">
                            <a href="https://www.linkedin.com/company/segessp/" target="_blank">
                                <img src="{{ url_for('static', filename='img/linkedin-logo.png') }}"
                                    href="https://www.facebook.com/gestaoprefsp/" target="_blank"
                                    style="max-width: 40px;">
                            </a>
                        </li>
                    </ul>
                    <ul class="list-group list-group-horizontal">
                        <li class="d-flex align-items-center mb-2 ">
                            <a href="https://www.youtube.com/channel/UCsWU48a61IT4Yh2ZAI06kjw" target="_blank">
                                <img src="{{ url_for('static', filename='img/youtube.png') }}"
                                    href="https://www.youtube.com/@gestaoprefsp" target="_blank"
                                    style="max-width: 40px;">
                            </a>
                        </li>
                        <li class="d-flex align-items-center mb-2 px-1">
                            <a href="https://www.instagram.com/gestaoprefsp/" target="_blank">
                                <img src="{{ url_for('static', filename='img/instagram.png') }}"
                                    href="https://www.instagram.com/gestaoprefsp/" target="_blank"
                                    style="max-width: 40px;">
                            </a>
                        </li>
                        <li class="d-flex align-items-center mb-2 px-1">
                            <a href="https://www.tiktok.com/@prefsp?lang=en" target="_blank">
                                <img src="{{ url_for('static', filename='img/tiktok.png') }}"
                                    href="https://www.tiktok.com/@prefsp?lang=en" target="_blank"
                                    style="max-width: 40px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center footer-font mt-5" style="background-color: #F8F9FA; padding: 15px; color: #737373;">
            Copyright © Prefeitura de São Paulo - SEGES/COTIC 2025
        </div>
    </footer>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const checkAllBox = document.getElementById("checkAll");
                const itemCheckboxes = document.querySelectorAll(".item-checkbox");

                if (checkAllBox && itemCheckboxes.length > 0) {
                checkAllBox.addEventListener("change", function () {
                    itemCheckboxes.forEach(function (cb) {
                    cb.checked = checkAllBox.checked;
                    });
                });

                itemCheckboxes.forEach(function (cb) {
                    cb.addEventListener("change", function () {
                    if (!cb.checked) {
                        checkAllBox.checked = false;
                    } else if ([...itemCheckboxes].every(i => i.checked)) {
                        checkAllBox.checked = true;
                    }
                    });
                });
                }
            });
        </script>
    </body>
</html>