{% extends "base.html" %}

{% block title %}Página Inicial - STGC{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <section class="col-md-8">
        <div class="bg-white p-4 rounded-3 shadow-sm text-orange">
            <h3 class="mb-4"><i class="bi bi-file-earmark-lock-fill" style="color: #E65A00;"></i> Tarjar Documento DOCX
            </h3>
            <p class="text-muted">Envie um arquivo DOCX e selecione os tipos de dados sensíveis que deseja tarjar.</p>
            <hr>
            <form method="POST" enctype="multipart/form-data" class="mb-4">
                <div class="mb-3">
                    <label for="pdffile" class="form-label">Escolha o arquivo DOCX:</label>
                    <input type="file" name="docxfile" id="docxfile" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Selecionar dados sensíveis a serem tarjados:</label>

                    <div class="mb-3">
                        <label class="form-label">Opções de detecção:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="usar_spacy" id="usar_spacy" value="1">
                            <label class="form-check-label" for="usar_spacy">Usar opção de detecção avançada</label>
                        </div>
                    </div>
                    <!-- Checkbox Mestre -->
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" id="checkAll" checked>
                        <label class="form-check-label fw-bold" for="checkAll">Selecionar/Desmarcar todos</label>
                    </div>
                    {% for padrao in padroes %}
                    <div class="form-check">
                        <input class="form-check-input item-checkbox" type="checkbox" name="itens" value="{{ padrao }}"
                            id="{{ padrao }}" checked>
                        <label class="form-check-label" for="{{ padrao }}">{{ padrao }}</label>
                    </div>
                    {% endfor %}

                </div>
                <button type="submit" class="btn btn-primary">Pré-Visualizar em DOCX</button>
                <a href="{{ url_for('homepage') }}" class="btn btn-secondary btn-lg">Cancelar Solicitação</a>
            </form>
        </div>
    </section>
</div>

{% endblock %}